In [4]:
import pandas as pd

In [5]:
apple_5 = pd.read_csv('data/CHARTS/APPLE5.csv',header=None,names=['date','Time','Open','High','Low','Close','Volume'])

In [6]:
apple_5['average'] = (apple_5['Open'] + apple_5['Close'])

In [30]:
news_data['date'] = pd.to_datetime(news_data['Published_date']).dt.date
news_data['time'] = pd.to_datetime(news_data['Published_date']).dt.time

In [31]:
apple_5.head()

         date   Time    Open    High     Low   Close  Volume  difference
0  2017.07.12  19:45  145.98  146.04  145.83  145.83     808        0.15
1  2017.07.12  19:50  145.86  145.94  145.72  145.82     802        0.04
2  2017.07.12  19:55  145.82  145.89  145.66  145.77     897        0.05
3  2017.07.12  20:00  145.74  145.74  145.62  145.62      42        0.12
4  2017.07.12  20:05  145.66  145.66  145.66  145.66       5        0.00

In [32]:
news_data.head()

,Published_date,Title,Text,date,time
0,2017-12-05T02:00:00.000+02:00,UPDATE: Stock market has tax cuts around 50% p...,['A value stock is one that trades at a lower ...,2017-12-05,00:00:00
1,2017-12-26T01:28:00.000+02:00,Amazon.com (AMZN) Upgraded to “Buy” at Vetr,['Amazon.com (NASDAQ:AMZN) was upgraded by sto...,2017-12-25,23:28:00
2,2017-12-20T20:37:00.000+02:00,Wednesday Apple Rumors: Universal Apps May Rel...,['TV Sales : Apple TV is now available for pur...,2017-12-20,18:37:00
3,2017-11-28T16:07:00.000+02:00,MARKET SNAPSHOT: Stocks Look To Test Records A...,"[""Shares in Buffalo Wild Wings Inc.(BWLD) clim...",2017-11-28,14:07:00
4,2017-12-11T02:00:00.000+02:00,Luxury resort owner admits claim on trees was ...,"['This is a big question. What city is better,...",2017-12-11,00:00:00

In [33]:
time_diff = '04:00:00'

In [38]:
news_data['date'] = news_data['date'].astype('datetime64[ns]')
apple_5['date'] = apple_5['date'].astype('datetime64[ns]')

In [42]:
apple_5['date'].dtype

dtype('<M8[ns]')

In [43]:
news_data['date'].dtype

dtype('<M8[ns]')

In [54]:
news_data.head()

,Published_date,Title,Text,date,time
0,2017-12-05T02:00:00.000+02:00,UPDATE: Stock market has tax cuts around 50% p...,['A value stock is one that trades at a lower ...,2017-12-05,00:00:00
1,2017-12-26T01:28:00.000+02:00,Amazon.com (AMZN) Upgraded to “Buy” at Vetr,['Amazon.com (NASDAQ:AMZN) was upgraded by sto...,2017-12-25,23:28:00
2,2017-12-20T20:37:00.000+02:00,Wednesday Apple Rumors: Universal Apps May Rel...,['TV Sales : Apple TV is now available for pur...,2017-12-20,18:37:00
3,2017-11-28T16:07:00.000+02:00,MARKET SNAPSHOT: Stocks Look To Test Records A...,"[""Shares in Buffalo Wild Wings Inc.(BWLD) clim...",2017-11-28,14:07:00
4,2017-12-11T02:00:00.000+02:00,Luxury resort owner admits claim on trees was ...,"['This is a big question. What city is better,...",2017-12-11,00:00:00

In [68]:
max(news_data['date'])

Timestamp('2017-12-31 00:00:00')

In [69]:
min(news_data['date'])

Timestamp('2017-11-09 00:00:00')

In [74]:
max(apple_5['date'])

Timestamp('2019-02-01 00:00:00')

In [75]:
w_start = ['00','05','00','00']
w_end = ['00','01','00','00']

w = [w_start,w_end]

In [86]:
def combine(timestamp):
    return pd.Timestamp.combine(timestamp[0],timestamp[1])

In [ ]:
def filter_news(ts_min,ts_max,df):
    return df[df['timestamp']>=ts_min

In [84]:
news_data['timestamp'] = news_data['date'].astype('str')+' '+news_data['time'].astype('str')